:root{
    --bg-color: #252426;
}

body{
  background: var(--bg-color);
}

.header{
    position: absolute;
    width: 100%;
    height: 81px;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.05);
}